.col-sm{
  background-color:rgba(64, 64, 231, 0.973);
  text-align: center;
  padding-top: 10px;
}
.q{
  background-color:whitesmoke;
  padding-right: 10px;
  text-align: left;
}
#p1{
  color: white;
}
.w{
  background-color: white;
}
.r{
  background-color: rgba(64, 64, 231, 0.973);
}
#tr{
  color: rgb(119, 228, 76);
}
.t{
  background-color: whitesmoke;
  text-align: center;
}
.y{
  background-color: whitesmoke;
  text-align: left;
}
.qe{
  background-color:rgb(44, 44, 248);
}
.th{
  color: white;
  font-size: 40px;
}
.yu{
  color: rgb(119, 228, 76);
  font-size: 18px;
  font-family: 'Times New Roman';
}
.zx{
  background-color: whitesmoke;
  text-align: left;
}
.sd{
  background-color: whitesmoke;
}
.zx{
  background-color: whitesmoke;
}



.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  /* padding: 10px 10px 10px 10px; */
  padding-top: 40px;
}

.mn{
  font-family: 'Times New Roman';
  font-size: 23px;
  font-weight: bold;
  color: rgb(44, 44, 248);
}

.gh{
  background-color: white;
}
.vc{
  color:rgb(44, 44, 248) ;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Times New Roman';
}
.er{
  background-color: white;
}




.cardw {
  background: rgb(221, 213, 213);
  border-radius: 2px;
  display: inline-block;
  height: 70px;
  margin: 1rem;
  position: relative;
  width: 200px;
}

.card-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#df{
  /* text-align: left; */
  /* padding-left: 300px; */
  padding-right: 50px;
  text-align: left;
}
.vc1{
  text-align: center;
  color:rgb(44, 44, 248) ;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Times New Roman';
}

.fg{
  text-align: center;
  color: rgb(44, 44, 248);
  /* padding-top: 30px; */
  font-weight: bold;
  font-family: 'Times New Roman';
  padding-top: 20px;
}

.jh{
  background-color: white;
}


.bn{
  background-color: rgb(56, 53, 53);
}

.kl{
  color: white;
  text-align: left;
  padding-left: 50px;
}
#po{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  padding-top: 70px;
}
#ty{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: yellowgreen;
  padding-top: 70px;
}

.btn1{
  color: white;
  margin: 7px;
}
.zx{
  background-color: white;
}

.kl1{
  color: white;
  text-align: left;
  padding-top: 70px;
  padding-left: 40px;
}

.cn{
  background-color: rgb(44, 44, 248);
}
#hu{
  color: white;
  font-size: 10px;
  text-align: left;
  padding-left: 70px;
}

.jl{
  width: 250px;
  height: 370px;
}


.col-sm-6{
  background-color: rgba(64, 64, 231, 0.973);
  padding-top: 10px;
  text-align: center;
}

.qa{
  padding-left: 100px;
  padding-right: 100px;
}

.kl2{
  color: white;
  text-align: left;
  padding-left: 40px;
}




.my1{
  padding-left: 50px;
  padding-right: 50px;
}

.my2{
  padding-left: 50px;
  padding-right: 50px;
}
.my3{
  padding-left: 70px;
  padding-right: 70px;
  background-color: rgb(44, 44, 248);
}



